Immersal_Build.apk

# Unity generated content inside Immersal/
Immersal/.utmp/
Immersal/[Ll]ibrary/
Immersal/[Tt]emp/
Immersal/[Oo]bj/
Immersal/[Bb]uild/
Immersal/[Bb]uilds/
Immersal/[Ll]ogs/
Immersal/[Uu]ser[Ss]ettings/
Immersal/[Mm]emoryCaptures/
Immersal/[Rr]ecordings/
Immersal/.vs/
Immersal/.gradle/
Immersal/ExportedObj/
Immersal/.consulo/
Immersal/*.log
Immersal/*.csproj
Immersal/*.unityproj
Immersal/*.suo
Immersal/*.tmp
Immersal/*.user
Immersal/*.userprefs
Immersal/*.pidb
Immersal/*.booproj
Immersal/*.svd
Immersal/*.pdb
Immersal/*.mdb
Immersal/*.opendb
Immersal/*.VC.db
Immersal/sysinfo.txt
Immersal/mono_crash.*
Immersal/*.apk
Immersal/*.aab
Immersal/*.app
Immersal/*.unitypackage
Immersal/crashlytics-build.properties